.img{
    content: url(../../../../assets/alias_focused.png);
}

.comment_score{
    content: url(../../../../assets/score/comment_score.png);
}

.agree{
    content: url(../../../../assets/agree/agree.png);
}

.agreed{
    content: url(../../../../assets/agree/agree2.png);
}

.disagree{
    content: url(../../../../assets/disagree/disagree.png);
}

.disagreed{
    content: url(../../../../assets/disagree/disagree2.png);
}


.reply{
    content: url(../../../../assets/reply/reply.png);
}

.span{
    font-size: 10px;
     font-family: 'IRANSansFN';
     margin-right:4px;
     /* margin-left: 20px; */
}

.spanDown{
    font-size: 10px;
     font-family: 'IRANSansFN';
     margin-right:4px;
}

.spanreply{
    font-size: 12px;
     font-family: 'IRANSansFN';
     margin-right:4px;
     /* margin-left: 20px; */
}

.spanreplybold{
    font-size: 12px;
     font-family: 'IRANSansFN-bold';
     margin-right:4px;
     /* margin-left: 20px; */
}

